# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
.flattened-pom.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
.idea
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig

# flatten ignore
.flattened-pom.xml

# license check result
license-list

# grpc compiler
compiler/gradle.properties
compiler/build/*
compiler/.gradle/*


# Tomcat
.extract

*.py[cod]
# C extensions
*.so

# Packages
*.egg
*.egg-info
.ropeproject
dist
build
eggs
parts
bin
var
sdist
dump.rdb
develop-eggs
.installed.cfg
lib
lib64
media
static

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# local .history files in VS Code
.history

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
celerybeat-schedule.db
celerybeat.pid
dump.rdb
# db.sqlite3
# settings/local.py
/identifier.sqlite
/venv/
