{% extends "base.html" %}

{% block content %}
    <div style="margin:auto; width:50%;">

        {% if job_list %}
            <ul>
                {% for job in job_list %}
                    <li>
                        {{ job.type_name }}
                        <a href="/job/{{ job.id }}/" style="color: blue">{{ job.job_name }}</a>
                        {{ job.city_name }}
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No jobs are available.</p>
        {% endif %}
    </div>

{% endblock %}